/* src/components/Footer.css */
.footer {
    color: rgb(187, 184, 184);
    text-align: center;
    padding: 10px;
    width: 55rem;
  }
  
  .footer p {
    margin: 0;
  }
  .footerMenu{
    display: flex;
    border-bottom: 1px solid #202020;
    border-top: 1px solid #202020;
    padding: 10px;
    gap: 1px;
  }
  .leftFooter,.middleFooter{
    width: 30rem;
    height: 11rem;
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
    cursor: default;
  }
  a{
    text-decoration: none;
    color: #c4c3c3;
    transition: all 0.1s;
  }
  a:hover{
    color: orange;
    text-decoration: underline;
  }